<div class="swipe-container" (swipeleft)="onSwipe(currentIndex, 'swipeleft')"
  (swiperight)="onSwipe(currentIndex, 'swiperight')">

  <ng-container *ngIf="!isLoading">
    <mat-toolbar class="toolbar" color="primary">
      <mat-toolbar-row>
        <span>
          <button mat-button>
            {{ alphabetData.character }}
          </button>
        </span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span>{{ alphabetData.obj }}</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <a-scene embedded arjs='sourceType: webcam; debugUIEnabled: false;'>
      <a-gltf-model [attr.scale]="alphabetData.properties.scale" [attr.rotation]="alphabetData.properties.rotation"
        [attr.src]="alphabetData.model">
      </a-gltf-model>
      <a-marker-camera preset='hiro'></a-marker-camera>
    </a-scene>
    <mat-toolbar class="footer" color="accent">
      <button mat-icon-button (click)="speak()">
        <img src="../assets/baseline-volume_up-24px.svg" class="volume" />
      </button>
    </mat-toolbar>
  </ng-container>

</div>